<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular</title>
</head>
<body>
    <div>
        <p>
            <pre>
Go to the project folder 
Open CMD
            
Install angular
Run the command  -npm install -g @angular/cli
            
Create New application
ng new myapp
            
Run / open the application
ng-serve --open
            
            
https://angular.io/start
*ngFor
*ngIf
Interpolation {{ }}
Property binding [ ]
Event binding ( )
            </pre>
        </p>
    </div>
</body>
</html>