:root{
    --home-page: linear-gradient(180deg,#e6fff8,#fff);
    --font-secondary: "Source Sans 3", sans-serif;
}

body{
    background: var(--home-page);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.HomePage {
    max-width: 980px;
    margin: auto;
}

.title {
    text-align: center;
    margin: 10px;
}

.home_grid {
    width: 1040px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.home_card {
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    color: #fff;
    padding: 0 15px;
    font-family: var(--font-secondary);
    font-size: 28px;
    font-weight: 600;
    line-height: 39.29px;
    letter-spacing: normal;
    margin-right: 42px;
    margin-bottom: 25px
}
